#header-nav{
	border-radius: 0;
	border: 0;
}
#titulo{
	margin-left: 10px;
}
.nav-margin {
	margin-top: 16px;
}
.diseno-col {
	background-color: #DCDCDC;
	height: 1000px;

}
@media (max-width: 767px) {
    .classmargin{
		/*width: 80%;*/
		margin: 0 auto;
    }
  }

